.login-container {
    width: 650px;
    height: 400px;
    box-shadow: 0px 0px 15px 5px #888888;
    border-radius: 5px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;

    & > .login-group {
        flex: 1;
        text-align: center;

        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        .box {
            width: 100%;

            h2 {
                font-weight: bold;
            }
        }
    }

    & > .login-form {
        padding: 20px;
    }

    & > .registered-form {
        background-color: #1890ff;
        padding: 20px;
        color: #ffffff;
        h2,
        Button {
            color: #ffffff;
        }
    }
}
